/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Full page background image */
body {
    margin: 0;
    height: 100vh;

    background-image: url("/static/images/house.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Keep your existing container same */
.container {
    background: rgba(255, 255, 255, 0.85); /* light glass effect */
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    margin: auto;
    margin-top: 60px;
}


/* Container card */
.container {
    background: white;
    padding: 30px;
    width: 380px;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    animation: slideUp 1s ease;
    backdrop-filter: blur(14px);
    background: rgba(255,255,255,0.88);
}

/* Headings */
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

/* Input animation */
input:focus {
    border-color: #667eea;
    box-shadow: 0 0 8px #667eea;
    outline: none;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

/* Button hover animation */
button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Result bounce */
.result h2 {
    animation: bounce 1s ease;
}

/* Back link */
a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #667eea;
    font-weight: bold;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {
    0% { transform: scale(0.9); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}
